* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0) linear-gradient(to left, rgb(67, 198, 172), rgb(25, 22, 84)) repeat scroll 0% 0%;
  color: white;
  height: 90vh;
}

.error_style {
  display: none;
}

.show_message {
  display: block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* current weather section */
.current_weather {
  margin-top: 1%;
}

/* current weather img */
.icon img {
  width: 20%;
}

/* time section */
.time {
  font-size: 1.5em;
}

/* temperature section */
.temperature {
  margin-top: 20px;
}

.temperature span {
  font-size: 7em;
}

.temperature span:nth-child(2) {
  font-size: 4em;
  padding-left: 10px;
}

.temperature_description p {
  font-size: 1.5em;
}

/* daily weather section */
.days_weather {
  margin-top: 60px;
}
.days_weather img {
  display: block;
  margin: auto;
}

/*left and right arrow work start*/
.left_arrow {
  position: absolute;
  top: 50%;
  left: 2%;
  z-index: 999;
  transform: translateX(-2%) translateY(-50%);
}

.right_arrow {
  position: absolute;
  top: 50%;
  right: 2%;
  z-index: 999;
  transform: translateX(-2%) translateY(-50%);
}
/*left and right arrow work end*/
