/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  /* current location style */
  .current_weather {
    margin-top: 40px;
  }

  /* time section style */
  .time {
    font-size: 1em;
    margin-top: 10px;
  }
  /* current temperature style */
  .temperature {
    margin-top: 40px;
  }
  .temperature span {
    font-size: 4em;
  }

  .temperature span:nth-child(2) {
    font-size: 2em;
  }
  /* daily weather section start */
  .days_weather {
    margin-top: 60px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* current location style */
  .current_weather {
    margin-top: 40px;
  }

  /* time section style */
  .time {
    font-size: 1em;
    margin-top: 10px;
  }
  /* current temperature style */
  .temperature {
    margin-top: 40px;
  }
  .temperature span {
    font-size: 4em;
  }

  .temperature span:nth-child(2) {
    font-size: 2em;
  }
  /* daily weather section start */
  .days_weather {
    margin-top: 60px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* current location style */
  .current_weather {
    margin-top: 40px;
  }

  /* time section style */
  .time {
    font-size: 1.4em;
    margin-top: 10px;
  }
  /* current temperature style */
  .temperature {
    margin-top: 40px;
  }
  .temperature span {
    font-size: 4em;
  }

  .temperature span:nth-child(2) {
    font-size: 2em;
  }
  /* daily weather section start */
  .days_weather {
    margin-top: 80px;
  }
}
